<!--
busCount: {{busCount}} <br />
markerStore:<br />
{{markerStore}}<p> -->

    <div id="map" class="mapContainer" ng-controller="MapCtrl">
      <ng-map zoom="15" center="[36.9914, -122.0609]" zoom-control="true" zoom-control-options="{style:'BIG', position: 'RIGHT_TOP'}" street-view-control="true" street-view-control-options="{position: 'RIGHT_TOP'}" scrollWheel="false" aria-label="UC Santa Cruz Google Map" default-style="false" style="height: 100%; width: 100%;">

        <info-window id="myInfoWindow">
          <div ng-non-bindable>
            <h4>{{selectedShuttle.type}}</h4>
          </div>
        </info-window>

        <!-- small orange and blue square icons -->
        <marker ng-repeat="item in map.busInnerStops" position="{{item.latitude}}, {{item.longitude}}" icon="../../images/InnerLoopStop_small.png" on-click="item.onClicked()"></marker>

        <marker ng-repeat="item in map.busOuterStops" position="{{item.latitude}}, {{item.longitude}}" icon="../../images/OuterLoopStop_small.png" on-click="item.onClicked()"></marker>

        <marker ng-repeat="item in markerStore" position="{{item.lat}}, {{item.lon}}" on-click="showShuttle(event, item)"></marker>

      </ng-map>
    </div>



<p>&nbsp;</p>

<!-- Map Legend Key Modal Dialog -->
<div id="mapKey" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Map Legend Key">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Map Legend Key</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
      </div>
      <div class="modal-body">
        <table id="keyTable" class="table table-sm table-striped">
          <tbody>
            <tr>
              <td ng-class="keyRowIcon"> <img id="keyIconLoop" ng-src="../images/shuttleIcons/routeOLoop_30.png" src="../images/shuttleIcons/routeOLoop_30.png"></td>
              <td colspan="2" ng-class="keyRowDescription"> Both Inner/Outer Loop Shuttles </td>
            </tr>
            <tr>
              <td ng-class="keyRowIcon"> <img id="keyIconUC" ng-src="../images/shuttleIcons/routeuc_30.png" src="../images/shuttleIcons/routeuc_30.png"> </td>
              <td colspan="2" ng-class="keyRowDescription"> Upper Campus Shuttle </td>
            </tr>
            <tr>
              <td ng-class="keyRowIcon"> <img id="keyIconNO" ng-src="../images/shuttleIcons/routeno_30.png" src="../images/shuttleIcons/routeno_30.png"></td>
              <td colspan="2" ng-class="keyRowDescription"> Night Owl Shuttle </td>
            </tr>
            <tr>
              <td ng-class="keyRowIcon"> <img id="keyIconSP" ng-src="../images/shuttleIcons/routesp_30.png" src="../images/shuttleIcons/routesp_30.png"></td>
              <td colspan="2" ng-class="keyRowDescription"> Special Event Shuttle </td>
            </tr>
            <tr>
              <td ng-class="keyRowIcon"> <img id="keyIconOS" ng-src="../images/shuttleIcons/routeos_30.png" src="../images/shuttleIcons/routeos_30.png"></td>
              <td colspan="2" ng-class="keyRowDescription"> Out of Service </td>
            </tr>
            <tr>
              <td ng-class="keyRowIcon"> <img id="keyIconInStop" ng-src="../images/InnerLoopStop_small.png" src="../images/InnerLoopStop_small.png"></td>
              <td colspan="2" ng-class="keyRowDescription"> Inner Loop Stops </td>
            </tr>
            <tr>
              <td ng-class="keyRowIcon"> <img id="keyIconOutStop" ng-src="../images/OuterLoopStop_small.png" src="../images/OuterLoopStop_small.png"></td>
              <td colspan="2" ng-class="keyRowDescription"> Outer Loop Stops </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
